.skills-section{

    padding:80px 20px;

    background:#f8fafc;

}



.container{

    max-width:1200px;

    margin:auto;

}



.section-title{

    text-align:center;

    font-size:38px;

    color:#111827;

    margin-bottom:10px;

}



.section-subtitle{

    text-align:center;

    color:#64748b;

    margin-bottom:45px;

    font-size:18px;

}





.skills-container{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(180px,1fr));

    gap:25px;

}





.skill-box{

    background:white;

    padding:30px 20px;

    border-radius:15px;

    text-align:center;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.08);

    transition:0.3s;

}



.skill-box:hover{

    transform:translateY(-8px);

}



.skill-box h3{

    margin:0;

    font-size:22px;

    color:#2563eb;

}






@media(max-width:768px){


    .section-title{

        font-size:30px;

    }


    .skills-section{

        padding:50px 15px;

    }


}