/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;

    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

/* Container */
.nav-container {
    max-width: 1250px;
    margin: auto;
    padding: 10px 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;

    height: 36px;
    text-decoration: none;

    color: #2563eb;
    font-size: 28px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;

    letter-spacing: 0.5px;
    white-space: nowrap;

    transition: all 0.3s ease;
    padding-top: 32px;
}

.logo span {
    color: #111827;
    transition: color 0.3s ease;
}

.logo:hover {
    color: #1d4ed8;
    transform: translateY(-1px);
}

.logo:hover span {
    color: #2563eb;
}

/* Navigation */
.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    position: relative;
    display: flex;
    align-items: center;

    height: 36px;

    text-decoration: none;
    color: #444;
    font-size: 15px;
    font-weight: 600;

    transition: 0.3s;
}

/* Underline Animation */
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2.5px;
    border-radius: 20px;
    background: #2563eb;
    transition: 0.35s;
}

.nav-links a:hover,
.nav-links a.active {
    color: #2563eb;
}

.nav-links a:hover::after,
.nav-links a.active::after {
    width: 100%;
}

/* Login Button */
.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 36px;
    padding: 0 20px;

    background: linear-gradient(135deg, #2563eb, #4f8cff);
    color: #fff !important;
    border-radius: 30px;

    transition: 0.3s;
}

.login-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(37, 99, 235, 0.3);
}

/* Menu Icon */
.menu-icon {
    display: none;
    font-size: 26px;
    color: #2563eb;
    cursor: pointer;
}

/* Mobile */
@media (max-width: 900px) {

    .menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;

        background: rgba(255,255,255,0.97);
        backdrop-filter: blur(10px);

        display: flex;
        flex-direction: column;
        gap: 22px;
        padding: 30px 0;

        transition: 0.4s ease;
        box-shadow: 0 15px 35px rgba(0,0,0,.08);
    }

    .nav-links.active {
        left: 0;
    }

    .logo {
        font-size: 24px;
        height: 34px;
    }

    .nav-links a,
    .login-btn {
        height: 34px;
    }
}